<% subscribers.forEach(s=>
    { %> 
        <h1>Book<%= s.zipCode %></h1>
         <p>
            <b>Name:</b>
            <%= s.name %>
        </p>
        <p>
            <b>Author:</b>
            <%= s.email %>
        </p>
        <a href=<%= s.link %>>
            <b>Buy on Amazon!</b>
        </a>
    
    
    <% });
%>